In [1]:
import pandas as pd

In [33]:
history = pd.read_csv('../data/SP500/SP_20180402_20200401.csv')
history.columns= history.columns.str.lower()

history['date'] = pd.to_datetime(history['date'])

history = history[history['date'] >= pd.to_datetime('2019-04-01').date()]
history = history[history['date'] <= pd.to_datetime('2019-08-01').date()]

history = history.set_index(['date', 'name'])['close'].unstack(-1)

for stock in history.columns:
    if (history[stock].isnull().values.any()):
        history.drop(columns=[stock])

history = history.fillna(method='ffill')

<ipython-input-33-bb3bc75be25e>:6: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  history = history[history['date'] >= pd.to_datetime('2019-04-01').date()]
<ipython-input-33-bb3bc75be25e>:7: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  history = history[history['date'] <= pd.to_datetime('2019-08-01').date()]

In [34]:
history

name,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,
2019-04-01,81.559998,32.349998,173.630005,191.240005,80.779999,79.089996,79.660004,176.320007,272.170013,108.279999,...,55.570000,129.729996,81.730003,49.840000,33.009998,80.559998,100.580002,127.760002,46.720001,101.540001
2019-04-02,81.139999,32.990002,173.339996,194.020004,83.070000,74.489998,79.620003,175.369995,271.350006,108.110001,...,55.580002,129.089996,81.379997,50.150002,32.950001,80.040001,100.180000,127.500000,46.930000,102.040001
2019-04-03,81.940002,33.709999,171.690002,195.350006,83.080002,75.050003,79.500000,177.190002,271.500000,109.839996,...,55.369999,128.570007,80.900002,50.349998,33.090000,79.690002,100.540001,126.480003,47.180000,102.120003
2019-04-04,80.830002,33.930000,174.000000,195.690002,82.809998,75.970001,78.620003,177.160004,267.890015,110.540001,...,55.279999,127.820000,82.050003,50.259998,33.049999,80.000000,100.449997,126.559998,47.680000,101.980003
2019-04-05,81.470001,34.060001,176.779999,197.000000,83.449997,77.269997,79.000000,178.149994,267.450012,111.459999,...,55.709999,129.080002,82.489998,50.400002,33.380001,80.339996,99.959999,127.209999,47.570000,102.120003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-26,69.500000,31.240000,152.619995,207.740005,67.760002,86.120003,87.750000,196.929993,311.269989,121.800003,...,60.509998,120.769997,74.809998,56.020000,34.430000,81.480003,114.019997,134.500000,45.160000,115.110001
2019-07-29,70.370003,30.740000,153.039993,209.679993,67.180000,87.230003,88.550003,197.350006,307.220001,121.209999,...,60.980000,120.550003,75.339996,56.369999,33.939999,80.889999,114.099998,134.529999,44.650002,115.550003
2019-07-30,70.150002,30.709999,151.800003,208.779999,67.180000,88.720001,88.309998,195.649994,303.640015,120.959999,...,60.590000,119.510002,75.349998,56.669998,32.779999,81.120003,113.239998,136.669998,45.480000,115.790001
2019-07-31,69.410004,30.510000,150.639999,213.039993,66.620003,87.150002,87.099998,192.580002,298.859985,117.459999,...,59.610001,114.209999,74.360001,54.450001,32.099998,80.290001,112.519997,135.130005,45.070000,114.889999
2019-08-01,69.209999,29.840000,149.949997,208.429993,65.800003,91.699997,86.080002,194.160004,298.440002,114.459999,...,60.759998,113.459999,72.459999,53.360001,31.639999,78.809998,116.940002,137.500000,42.939999,115.699997