In [1]:
import pandas as pd

In [4]:
history = pd.read_csv('../data/SP500/SP_20180402_20200401.csv')
history.columns= history.columns.str.lower()

history['date'] = pd.to_datetime(history['date'])

history = history[history['date'] >= '2019-04-01']
history = history[history['date'] <= '2019-08-01']

history = history.set_index(['date', 'name'])['close'].unstack(-1)

for stock in history.columns:
    if (history[stock].isnull().values.any()):
        history.drop(columns=[stock])

history = history.fillna(method='ffill')

In [13]:
history.tail(1).reset_index(drop=True) - history.head(1).reset_index(drop=True)

name,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
0,-12.349998,-2.509998,-23.680008,17.189987,-14.979996,12.610001,6.419998,17.839996,26.269989,6.18,...,5.189999,-16.269997,-9.270004,3.52,-1.369999,-1.75,16.360001,9.739998,-3.780003,14.159996